PORT=8000

# Twilio — https://twilio.com
TWILIO_ACCOUNT_SID=ACab95ff8aa52a13ccf760bfe8822491f9
TWILIO_AUTH_TOKEN=0fd89a3545fd8b065cb17cd36c5cfe48
TWILIO_PHONE_NUMBER=+16812525073
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886

# Resend — https://resend.com
RESEND_API_KEY=re_STgS1Dny_FaLCZ4v8ReHwxxn731FfiNUB
FROM_EMAIL=onboarding@resend.dev

# Your Vercel frontend URL
FRONTEND_URL=http://localhost:5173
TWILIO_VERIFY_SID=VA61ebdd68222ee60cb5372a969b54d84e